body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FAFAFE;
  color: #2E2545;
  padding-top: 80px;
}

a span {
  color: #FAFAFE;
}

.carousel-inner > .item {
  min-height: 600px;
  background-size: cover;
  background-position: center center;

}

.navbar-brand, .navbar-nav>li>a {
  height: 80px;
  line-height: 50px;
}

.footer{
  color: #FAFAFE;
  margin-top: 60px;
  width: 100%;

}
.nada{
  min-height: 700px;

}
